<div id="main-nav" class="flex justify-center flex-wrap gap-4 mb-10 text-lg font-bold">
    <a href="programa.html" class="text-blue-400 hover:text-blue-200">Programa</a>
    <a href="calendario.html" class="text-blue-400 hover:text-blue-200">Calendario</a>
    <a href="sesiones.html" class="text-blue-400 hover:text-blue-200">Sesiones</a>
    <a href="labs.html" class="text-blue-400 hover:text-blue-200">Laboratorios</a>
    <a href="evaluacion.html" class="text-blue-400 hover:text-blue-200">Evaluación</a>
    <a href="proyecto_final.html" class="text-blue-400 hover:text-blue-200">Proyecto Final</a>
</div>
